@import "reset.css";

#app {
  width: 300px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: cornflowerblue;
  margin: 200px auto;
}

.result {
  background: rgb(233,115,47);
  background: linear-gradient(90deg, rgba(233,115,47,1) 0%, rgba(232,107,119,1) 100%);
  height: 190px;
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  word-break: break-all;
}

.result.small {
  font-size: 2.5rem;
}

.key-pad {
  display: flex;
  justify-content: space-between;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 60px);
}

.key-pad li {
  width: 75px;
  height: 60px;
  background-color: #292C4B;
  line-height: 60px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

li.all-clear {
  width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}

.number:nth-child(1) {
  order: 1;
}

.number:nth-child(2) {
  order: 4;
}

.number:nth-child(3) {
  order: 3;
}

.number:nth-child(4) {
  order: 2;
}

.number:nth-child(5) {
  order: 7;
}

.number:nth-child(6) {
  order: 6;
}

.number:nth-child(7) {
  order: 5;
}

.number:nth-child(8) {
  order: 10;
}

.number:nth-child(9) {
  order: 9;
} 

.number:nth-child(10) {
  order: 8;
}

.number:nth-child(11) {
  width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
  order: 11;
}

.number:nth-child(12) {
  order: 12;
} 