@import "reset.css";

#app {
  width: 250px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: cornflowerblue;
  margin: 200px auto;
  padding: 1rem;
}

.result {
  background-color: #333;
  height: 100px;
  margin-bottom: 1rem;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-pad {
  display: flex;
  justify-content: space-between;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 10px;
}

.number {
  width: 50px;
  height: 50px;
  background-color: salmon;
  border-radius: 50%;
  line-height: 50px;
  font-size: 1.5rem;
  color: white;
}

.number:nth-child(10) {
	width: 100%;
  border-radius: 25px;
	grid-column-start: 1;
	grid-column-end: 3;
}


.number:nth-child(1) {
  order: 3;
}

.number:nth-child(2) {
  order: 2;
}

.number:nth-child(3) {
  order: 1;
}

.number:nth-child(4) {
  order: 6;
}

.number:nth-child(5) {
  order: 5;
}

.number:nth-child(6) {
  order: 4;
}

.number:nth-child(7) {
  order: 9;
}

.number:nth-child(8) {
  order: 8;
}

.number:nth-child(9) {
  order: 7;
}

.number:nth-child(10) {
  order: 10;
}

.number:nth-child(11) {
  order: 11;
  line-height: 55px;
}

.operator {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  line-height: 50px;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}